body{
  background: #000;
}

.container{
width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: end;
}

.grass{
  margin-bottom: 30px;
  background-image: url('./greenBGrass.webp');
  background-repeat:repeat-x;
  width: 100vw;
  height: 50px;
  background-size: contain;
}